# OS
.DS_Store

# Java
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
*.class

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE
.idea/
.vscode/
*.iml

# Env
.env
.env.*
!.env.example

# Logs
*.log
